//grid__row
// .grid__row,
// .grid__col--8,
// .grid__col--4{
//   padding-top: 5vh;
//   padding-bottom: 5vh;
// }

.grid__row{
  @include flex($just: space-around );
  margin-bottom: 5vh;
}

// .theme__colors{
//   @include gridColor($grid-col);
// }

.grid__col{
  @include gridColor($grid-col);
}

.grid__col--12,
.grid__col--6,
.grid__col--4,
.grid__col--3,
.grid__col--5,
.grid__col--7,
.grid__col--8{
  @extend %grid__col;

}

.centered{
  @include mq(desktop){
    width: 70%;
    margin: 0 auto;
  }
}
